/*Navbar style*/


.container-fluid {
	border-bottom: 3px solid black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {   
    background-color: #000; 
}
.nav-link:hover {
	background-color: #000;
	color: #fff;
}
.fa-bars {
	color: #fff;
}


.stuffitall {
	width: 60px;
	height: 60x;
	margin-top: -10px;
	margin-left: 10px;
}
a {
	color: 	#000000;
}
a:hover {
	color: #505050;
}
/*+++++++++++++++++++++++++++++++++*/
			/*Homepage*/
/*+++++++++++++++++++++++++++++++++*/

.image-pic {
	position: relative;
}

#text-block {
	position: absolute;
	background-color: rgba(0,0,0,.7);
	color: white; 
	width: 550px;
	height: 200px;
	border-radius: 10px;
	padding: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-inline .form-control {
	width: 350px;
	margin-left: 45px;
	/*position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.pasa {
	color: black;
	background-color: white;
}
/*Homepage pic*/
/*img#hompagepic {
   width: 100%;
   height: 80vh;
   object-fit: cover;
   object-position: center;
   position: relative;
}

#content {
	position: absolute;
	left: 55vh;
	top: 20vh;
	height: 250px;
	width: 600px;
	background-color: rgba(0,0,0,.7);
	border-radius: 10px; 
}
#content:hover {

}
#content h1 {
	color: #fff;
	text-align: center;
	margin-top: 30px;
	font-weight: bolder;
	font-size: 4em;
}
#content p {
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	line-height: 1;
}*/

/*Searchbox style*/
/*.form-inline {
	position: absolute;
	top: 62vh;
	left: 58vh;
	width: 600px;
}
.form-inline input.form-control {
	width: 500px;
}

.form-control:focus {
    color: black;
    background-color: #fff;
    border-color: #000000;
    outline: 0;
    box-shadow: none;
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn {
	background-color: #fff;
}
.btn:hover {
	background-color: #000;
	color: #fff;
}*/

/*Dropdown style*/
/*.dropdown-item:hover {
	background-color: #000;
	color: #fff;
}*/

 
/*================================================*/
			/*Our Fulfilment Style*/
/*================================================*/
.carousel-item {
	height: 400px;
	object-fit: cover;
	object-position: bottom;
}

#stuffitall-content-one h1{
	margin-top: 30px;
	font-weight: bolder;
}

#stuffitall-content-one p {
	
	width: 80%;
	margin-left: 50px;
}

#stuffitall-content-one p::first-letter {
	font-size: 1.4em;
}


/*Quotes style*/

.container-quote #quotes-1 {
	height: 300px;
	width: 50%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	font-size: 2.5rem;
	font-weight: bolder;
	padding-top: 30px;	
}

.container-quote h3 {
	height: auto;
	width: 300px;
	margin-top: 80px;
	margin-left: 650px;
	font-weight: bold;
	padding-bottom: 30px;

}
/*================================================*/
			/*Innovation Style*/
/*================================================*/

img.innovationimg {
	height: 400px;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

/*================================================*/
			/*Empower Style*/
/*================================================*/

img.empower {
	height: 400px;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

/*================================================*/
			/*Photography Style*/
/*================================================*/

#photography-body-pic {
	height: 400px;
	width: 	100%;
	object-fit: cover;	
}

.prevIcon, .nextIcon {
	height: 100%;
	width: 5%;
	border: none;
	opacity: 0;
}

.more-button {
	background-color: #fff;
	color: #000;
	border: 1px solid black;
	margin-bottom: 10px;
}

.addtocart {
	background-color: #ff3300;
}

.contactUs {
	background-color: green;
	border: none;
}
.contactUs:hover {
	background-color: #1aff1a;
}

/*================================================*/
			/*Footer Style*/
/*================================================*/
.footer p {
	font-size: 10px;
	margin: 0;
}
